{% extends 'base_template.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>Welcome {{ first_name }} {{ last_name }}</h2>
        <p>
            <label for="university" class="university" data-icon="u"> Email </label>
            <input id="university" name="email" type="text"
                   placeholder="University"/>
        </p>
        <p>
            <label for="location" class="location" data-icon="p"> Your password </label>
            <input id="location" name="location" required="required" type="text" placeholder="eg. New Delhi"/>
        </p>
    </form>
    <button class="profile-submit-button-js" form="profileRegisterForm">Sign up</button>
    </form>
{% endblock %}